/* CSS file */

global {
	font-size: 14;
	font-family: Arial;
	color: black;
}
Application {
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #d5d9e2, #ffffff;
}

CSSImage.logo {
	image: Embed(source="assets/assets.swf", symbol="Logo");
}

HRule {
}

Main, .paddedBox {
	padding-left: 5;
	padding-top: 5;
	padding-right: 5;
	padding-bottom: 5;	
}
Button {
	font-size: 12;
	padding-left: 3;
	padding-top: 3;
	padding-right: 3;
	padding-bottom: 3;
	horizontal-gap: 2;	
}

Canvas.contentContainer {
	background-color: #fbfcfd;
	border-style: solid;
	border-color: #999999;
	corner-radius: 8;
	padding-left: 5;
	padding-top: 5;
	padding-right: 5;
	padding-bottom: 5;
}

Text.logoText {
	font-size: 18;
	color: #1B262E;
}

Text.connectingMessage {
	font-size: 18;
	color: #0E0E4C;
}
Text.hostId {
	font-size: 12;	
}
Alert {
	background-color: white;
	color: black;
}


/* Files state */

Text.sectionLabel {
	font-size: 15;
	fontWeight: bold;
	color: #1E2A4E;
	
}
VBox.sectionContainer {
	border-style: solid;
	border-color: #999999;
	corner-radius: 8;
	padding-left: 5;
	padding-top: 5;
	padding-right: 5;
	padding-bottom: 5;
}
Text.columnHeader {
	font-weight: bold;
}

/* Button icons */

Button.addButton {
	icon: Embed(source='images/add_16.png');
}
Button.saveButton {
	icon: Embed(source="images/save_16.png");	
}
Button.deleteButton {
	icon: Embed(source='images/del_16.png');
}
Button.copyButton {
	icon: Embed(source='images/copy_16.png');
}
Button.cancelButton {
	icon: Embed(source='images/cancl_16.png');
}

.udpNote {
	text-align: center;
	font-size: 12;
	font-style: italic;
}
.footerText {
	text-align: center;
	font-size: 12;
}